// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// configs
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//utils
@import 'utils/mixins';

//import components
@import 'components/navbar';
@import 'components/footer';
@import 'components/carousel';
@import 'components/Form';
@import 'components/page__banner';
@import 'components/blogComponent';

//import pages
@import 'pages/login__register';
@import 'pages/contact';


