.img-container {
    position: relative;
    background: linear-gradient(30deg, #e05f3f, #3eaec2);
    padding: 1em;
    height: 310px !important;
    width: 310px;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px !important;
    img.banner {
        position: relative;
        object-fit: cover;
        width: 250px;
        height: 250px;
        border-radius: 1000px !important;
    }

    .avatar {
        position: absolute !important;
        width: 90px;
        height: 90px;
        border-radius: 1000px !important;
        padding: 0.6em;
        background: linear-gradient(30deg, #571f23, #e05f3f);
        img {
            border-radius: 1000px !important;
            object-fit: cover;
            width: 90px;
            height: 70px;
        }
        z-index: 1000;
    }
    .avatar-top {
        top: -10% !important;
    }
    .avatar-left {
        left: -10%;
    }
    .avatar-right {
        right: -10%;
    }
    .avatar-bottom {
        bottom: -10%;
    }
}

.homepage__banner {
    background: linear-gradient(to bottom left, #df4545, #f56642);
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

    .card {
        z-index: 100;
        background: transparent;
        text-align: center;
        .card-body {
            border-bottom-left-radius: 15% !important;
            border-bottom-right-radius: 15% !important;
            border-top-left-radius: 15% !important;
            border-top-right-radius: 15% !important;
            a:hover {
                font-weight: bold;
            }

            h1 {
                font-size: 32px;
            }
        }
    }
}

/* Breakpoint Desktop */
@media screen and (min-width: 992px) {
    .homepage__banner {
        padding-top: 0;
        .card {
            text-align: left;
            .card-body {
                h1 {
                    font-size: 52px;
                }
            }
        }
    }
    .img-container {
        padding: 2em;
        height: 450px !important;
        width: 450px;
        left: -15em;
        img.banner {
            width: 350px;
            height: 350px;
        }

        .avatar {
            width: 120px;
            height: 120px;
            padding: 0.6em;
            img {
                height: 100px;
                width: 100px;
            }
        }
    }
}
