.footer {
    background: linear-gradient(30deg, #ea5643 ,#df4545);
    h4 {
        // color: #117182;
        color: #fff;
    }

    ul li { 
        list-style: none;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .social__icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
            padding: 0 5px;
            .fab {
                font-size: 25px;
                color: $orange;
            }
        }
    }
}
