.navbar {
    z-index: 100;
    .navbar-brand {
        padding: 0;
        img {
            height: 50px;
        }
    }
    .navbar-nav .nav-item {
        padding: 0 0.6em;

        .nav-link {
            font-size: 16px;
            text-transform: capitalize;
            color: rgba(0, 1, 0, 0.7);
            font-weight: bold;
            &:hover {
                color: #251403;
            }
        }
    }
}

.navbar-sticky-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header {
    margin-top: 4rem !important;
}
